In [1]:
import os
import shutil

In [12]:
def trim_string(x):

    x = x.split(maxsplit=first_n_words)
    x = ' '.join(x[:first_n_words])

    return x

In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [16]:
train_dir = '../data/imdb/train.csv'

In [33]:
train_dataset = pd.read_csv(train_dir)

In [54]:
train_dataset['sentiment'].value_counts()

neg    12500
pos    12500
Name: sentiment, dtype: int64

In [52]:
train_data, val_data = train_test_split(train_dataset, train_size = 0.8, random_state = 1)

In [55]:
train_data['sentiment'].value_counts()

1    10036
0     9964
Name: sentiment, dtype: int64

In [53]:
train_data['sentiment'] = train_data['sentiment'].map({'pos' : 1, 'neg' : 0}).copy()

/tmp/ipykernel_20069/3164660406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['sentiment'] = train_data['sentiment'].map({'pos' : 1, 'neg' : 0}).copy()

In [56]:
val_data['sentiment'] = val_data['sentiment'].map({'pos' : 1, 'neg' : 0}).copy()
val_data['sentiment'].value_counts()

/tmp/ipykernel_20069/426298007.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val_data['sentiment'] = val_data['sentiment'].map({'pos' : 1, 'neg' : 0}).copy()

0    2536
1    2464
Name: sentiment, dtype: int64

In [57]:
train_data.to_csv(train_dir,index=False)

In [58]:
val_data.to_csv('../data/imdb/valid.csv', index=False)

In [23]:
train_dataset.head()

                                                text sentiment
0  Now, I won't deny that when I purchased this o...       neg
1  The saddest thing about this "tribute" is that...       neg
2  Last night I decided to watch the prequel or s...       neg
3  I have to admit that i liked the first half of...       neg
4  I was not impressed about this film especially...       neg

In [26]:
val_data['sentiment'] = 1 if val_data['sentiment'] is 'pos' else 0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_20069/3401361715.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  val_data['sentiment'] = 1 if val_data['sentiment'] is 'pos' else 0
/tmp/ipykernel_20069/3401361715.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val_data['sentiment'] = 1 if val_data['sentiment'] is 'pos' else 0

In [27]:
val_data.head()

                                                    text  sentiment
21492  I saw this film back at the 2005 Palm Springs ...          0
9488   Cheap and mind-blisteringly dull story and act...          0
16933  Well, they say nymphomania leaves you unsatisf...          0
12604  A real blow-up of the film literally. This Bri...          0
8222   At times, this overtakes The Thing as my favou...          0

In [32]:
test_data = pd.read_csv('../data/imdb/test.csv')
test_data['sentiment'] = 1 if test_data['sentiment'] is 'pos' else 0
test_data.to_csv('../data/imdb/test.csv', index=False)

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_20069/9652555.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  test_data['sentiment'] = 1 if test_data['sentiment'] is 'pos' else 0

In [59]:
test_data = pd.read_csv('../data/imdb/test.csv')

test_data['sentiment'] = test_data['sentiment'].map({'pos' : 1, 'neg' : 0}).copy()
test_data['sentiment'].value_counts()

0    12500
1    12500
Name: sentiment, dtype: int64

In [60]:
test_data.to_csv('../data/imdb/test.csv', index=False)

In [61]:
test_data = pd.read_csv('../data/imdb/test.csv')
test_data.head()

                                                text  sentiment
0  My daughter liked it but I was aghast, that a ...          0
1  I... No words. No words can describe this. I w...          0
2  this film is basically a poor take on the old ...          0
3  This is a terrible movie, and I'm not even sur...          0
4  First of all this movie is a piece of reality ...          1

In [63]:
val_data.head()

                                                    text  sentiment
21492  I saw this film back at the 2005 Palm Springs ...          1
9488   Cheap and mind-blisteringly dull story and act...          0
16933  Well, they say nymphomania leaves you unsatisf...          0
12604  A real blow-up of the film literally. This Bri...          0
8222   At times, this overtakes The Thing as my favou...          1